/* COMMONS */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

.container {
    width: 70%;
    height: 100%;
    padding: 20px 0;
    margin: 0 auto;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 0 20px;
    background-color: #000000;
}

header img {
    width: 50px;
    transition: filter .3s;
}
header img:hover {
    filter: brightness(150%);
}

/* MAIN */
main {
    margin-top: 80px;
    background-image: linear-gradient(#000000, #2B455B);
}

#discs {
    display: flex;
    flex-wrap: wrap;
    min-height: calc(100vh - 80px);
}

#discs .disc {
    width: calc((100% / 5) - 20px);
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    transition: transform .3s;
}
#discs .disc:hover {
    transform: scale(1.08);
}

#discs .disc .image_box {
    position: relative;
}

#discs .disc i  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: #FFFFFF;
    text-shadow: 1px 1px 5px #000000;
    opacity: 0;
    transition: opacity .3s;
    z-index: 1;
}
#discs .disc:hover i  {
    opacity: 1;
}

#discs .disc img {
    display: block;
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: opacity .3s;
}
#discs .disc:hover img {
    opacity: .4;
}

#discs .disc h2 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #FFFFFF;
}

#discs .disc h4 {
    font-size: 16px;
    font-weight: 400;
    color: #808080;
}